---
sudo: false
env:
  global:
    - CC_TEST_REPORTER_ID=54c20a96dd0fff93aba2db28c66c6378969db555ddc206b1ee4c9101606c07ab
language: ruby
cache: bundler
rvm:
  - 2.4.10
  - 2.5.8
  - 2.6.6
  - 2.7.1
  - 3.0.0
before_install: gem install bundler -v 2.1
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rubocop
  - bundle exec rspec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
